<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="KevScript Editor"
            extensions="kevs"
            icon="icons/kevs.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.kevoree.tools.eclipse.KevScriptEditor"
            id="org.kevoree.tools.eclipse.KevScriptEditor">
      </editor>
   </extension>
      <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Kevoree Model UI Editor"
            extensions="kevs"
            icon="icons/kevs.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.kevoree.tools.editor.eclipse.editors.KevModelUIEditor"
            id="org.kevoree.tools.editor.eclipse.editors.KevModelUIEditor">
      </editor>
   </extension>

	<extension
	   id="kevscripterror"
	   point="org.eclipse.core.resources.markers"
	   name="KevScript Error Marker">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.core.resources.textmarker"/>
	   <persistent value="true"/>
	</extension>   

<extension point="org.eclipse.ui.popupMenus"> 
<objectContribution 
      id="org.eclipse.ui.articles.action.contribution.popup.runkevs"
   objectClass="org.eclipse.core.resources.IFile"
   nameFilter="*.kevs">
      <action
         id="org.eclipse.ui.articles.action.contribution.object.runkevs.action" 
         label="Start a node on Kevscript"
         icon="icons/red_dot.gif"
         menubarPath="additions" 
	      class="org.kevoree.tools.editor.eclipse.editors.RunAsKevScriptAction"> 
      </action> 
   </objectContribution> 
</extension>
   
   <extension
         id="org.eclipse.kevoree.ide.wizard"
         name="newKevoreeClass"
         point="org.eclipse.ui.newWizards">
      <category
      
            id="org.eclipse.kevoree.ide.wizards"
            name="Kevoree">
      </category>
      <wizard
            category="org.eclipse.kevoree.ide.wizards"
            icon="icons/kevs.png"
            descriptionImage="icons/kevs.png"
            id="org.eclipse.kevoree.ide.wizards.NewXtendClassWizard"
            name="New Xtend Kevoree Component">
            <class class="org.kevoree.tools.eclipse.wizard.NewXtendKevoreeComponentWizard"/>
			<description>
            	New Xtend Kevoree Component
         	</description>
      </wizard>
      <wizard
            category="org.eclipse.kevoree.ide.wizards"
            icon="icons/kevs.png"
            descriptionImage="icons/kevs.png"
            id="org.eclipse.kevoree.ide.wizards.NewXtendChannelWizard"
            name="New Xtend Kevoree Channel">
            <class class="org.kevoree.tools.eclipse.wizard.NewXtendKevoreeChannelWizard"/>
			<description>	
            	New Xtend Kevoree Channel
         	</description>
      </wizard>
      <wizard
            category="org.eclipse.kevoree.ide.wizards"
            icon="icons/kevs.png"
            descriptionImage="icons/kevs.png"
            id="org.eclipse.kevoree.ide.wizards.NewXtendGroupWizard"
            name="New Xtend Kevoree Group">
            <class class="org.kevoree.tools.eclipse.wizard.NewXtendKevoreeGroupWizard"/>
			<description>
            	New Xtend Kevoree Group
         	</description>
      </wizard>
      <wizard
            category="org.eclipse.kevoree.ide.wizards"
            icon="icons/kevs.png"
            descriptionImage="icons/kevs.png"
            id="org.eclipse.kevoree.ide.wizards.NewJavaClassWizard"
            name="New Java Kevoree Component">
            <class class="org.kevoree.tools.eclipse.wizard.NewJavaKevoreeComponentWizard"/>
			<description>
            	New Java Kevoree Component
         	</description>
      </wizard>
      <wizard
            category="org.eclipse.kevoree.ide.wizards"
            icon="icons/kevs.png"
            descriptionImage="icons/kevs.png"
            id="org.eclipse.kevoree.ide.wizards.NewJavaChannelWizard"
            name="New Java Kevoree Channel">
            <class class="org.kevoree.tools.eclipse.wizard.NewJavaKevoreeChannelWizard"/>
			<description>
            	New Java Kevoree Channel
         	</description>
      </wizard>
      <wizard
            category="org.eclipse.kevoree.ide.wizards"
            icon="icons/kevs.png"
            descriptionImage="icons/kevs.png"
            id="org.eclipse.kevoree.ide.wizards.NewJavaGroupWizard"
            name="New Java Kevoree Group">
            <class class="org.kevoree.tools.eclipse.wizard.NewJavaKevoreeGroupWizard"/>
			<description>
            	New Java Kevoree Group
         	</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendClassWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendChannelWizard">
         </newWizardShortcut>
                  <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendGroupWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaClassWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaChannelWizard">
         </newWizardShortcut>
                  <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaGroupWizard">
         </newWizardShortcut>
         
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendClassWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendChannelWizard">
         </newWizardShortcut>
                  <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendGroupWizard">
         </newWizardShortcut>         
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaClassWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaChannelWizard">
         </newWizardShortcut>
                  <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaGroupWizard">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendClassWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendChannelWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewXtendGroupWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaClassWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaChannelWizard">
         </newWizardShortcut>
                  <newWizardShortcut
               id="org.eclipse.kevoree.ide.wizards.NewJavaGroupWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
  <extension point="org.eclipse.m2e.core.archetypeCatalogs">
  	<remote description="Maven Central Catalog"
    	      url="http://repo1.maven.org/maven2/"/>
  	<remote description="Kevoree Archetype Catalog"
    	      url="http://sd-35000.dedibox.fr/	"/>
	</extension>
	 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          category="org.eclipse.kevoree.ide.wizards"
          class="org.kevoree.tools.eclipse.wizard.CreateNewKevoreeProject"
          icon="icons/kevs.png"
          id="org.kevoree.kevoree_workbench.ui.wizards.CreateNewKevoreeProject"
          name="New Kevoree Project"
          project="true">
    </wizard>
 </extension>
  <extension
         id="org.kevoree.kevoree_workbench.ui.kevoreeBuilder"
         name="Kevoree Model Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.kevoree.tools.eclipse.builder.KevoreeBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.kevoree.kevoree_workbench.ui.kevoreeNature"
         name="Kevoree Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.kevoree.tools.eclipse.builder.KevoreeNature">
         </run>
      </runtime>
      <builder
            id="org.kevoree.kevoree_workbench.ui.kevoreeBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.kevoree.kevoree_workbench.ui.addnature.contribution">
         <action
               class="org.kevoree.tools.eclipse.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/kevs.png"
               id="org.kevoree.kevoree_workbench.ui.addRemoveNatureAction"
               label="Add Kevoree Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         <visibility>
         <and>
            <not>
                <objectState name="projectNature" value="org.kevoree.kevoree_workbench.ui.kevoreeNature"/>
            </not>
            <objectClass name="org.eclipse.core.resources.IProject" />
          </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.kevoree_workbench.ui.removenature.contribution">
         <action
               class="org.kevoree.tools.eclipse.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/kevs.png"
               id="org.kevoree.kevoree_workbench.ui.addRemoveNatureAction"
               label="Remove Kevoree Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions">
         </action>
         
	    <visibility>
	       <and>
	          <objectClass
	                name="org.eclipse.core.resources.IProject">
	          </objectClass>
	          <objectState
	                name="projectNature"
	                value="org.kevoree.kevoree_workbench.ui.kevoreeNature">
	          </objectState>
	       </and>
	    </visibility>
      </objectContribution>
   </extension>
   <extension
         id="kevoreeProblem"
         name="Kevoree Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/kevs.png"
            id="org.kevoree.kevoree_workbench.ui.kevoreeNature.image"
            natureId="org.kevoree.kevoree_workbench.ui.kevoreeNature">
      </image>
   </extension>
   <!-- definitions of launch menu -->
   	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.kevoree.tools.eclipse.launcher.KevoreeLauncher"
            id="org.kevoree.kevoree_workbench.ui.KevoreeLauncherID"
            modes="run"
            name="Kevoree Launcher"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/kevs.png"
        configTypeID="org.kevoree.kevoree_workbench.ui.KevoreeLauncherID"
        id="org.kevoree.kevoree_workbench.ui.KevoreeauncherImageID">
    </launchConfigurationTypeImage>
	</extension>
	   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
	        type="org.kevoree.kevoree_workbench.ui.KevoreeLauncherID"
	        class="org.kevoree.tools.eclipse.launcher.KevoreeLauncherTabGroup"
	        id="org.kevoree.kevoree_workbench.ui.KevoreeLauncherTabGroupID">
	    </launchConfigurationTabGroup>
	</extension>
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.kevoree.tools.eclipse.launcher.KevoreeLauncherShortcut"
            icon="icons/kevs.png"
            id="org.kevoree.kevoree_workbench.ui.Kevoree"
            label="Kevoree"
            modes="run, debug">
         <configurationType
               id="org.kevoree.kevoree_workbench.ui.KevoreeLauncherID">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <count
                     value="1">
               </count>
               <iterate
                     operator="or">
                  <or>
                     <test
                           property="org.eclipse.debug.ui.matchesPattern"
                           value="*.kevs">
                     </test>
                     <adapt type="org.eclipse.core.resources.IResource">
                     	<test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.kevoree.tools.eclipse.KevScriptEditor">
                     	</test>
                     </adapt>
                  </or>
               </iterate>
            </enablement>
            <contextLabel
                  label="Run as Kevoree Script"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug as Kevoree Script"
                  mode="debug">
            </contextLabel>
         </contextualLaunch>
      </shortcut>
   </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          class="org.kevoree.tools.eclipse.preferences.KevoreePreferencePage"
          id="org.kevoree.tools.eclipse.preferences.KevoreePreferencePage"
          name="Kevoree">
    </page>
 </extension>
 <extension
       point="org.eclipse.core.runtime.preferences">
    <initializer
          class="org.kevoree.tools.eclipse.preferences.PreferenceInitializer">
    </initializer>
 </extension>
 
	
</plugin>
